body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.logo {
    font-weight: 700;
    font-size: x-large;
}

.links {
    display: flex;
    gap: 25px;
}

.hero {
    background-color: #1F2937;
    color: white;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

.hero-text div {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-text p {
    text-overflow: ellipsis;
}

.hero-button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    padding: 8px 16px;
}


.hero-picture {
    min-width: 500px;
    min-height: 300px;
    margin: 40px 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

#info-header {
    font-weight: 900;
    font-size: 25px;
}

.subtext-images {
    display: flex;
    justify-content: space-between;
    margin: 50px 600px;
}

.st-image {
    border: 3px solid #3882f6;
    border-radius: 8px;
    min-width: 120px;
    min-height: 120px;
    margin-bottom: 10px;
}

.subtext-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
    width: 130px;
    font-size: 14px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    background-color: #E5E7EB;
    color: #1F2937;
    height: 400px;
    font-size: 26px;
}

#quote-text {
    font-style: italic;
    width: 800px;
}

#quote-author {
    font-weight: 900;
    font-size: 20px;
    margin-left: 500px;
    margin-top: 20px;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 100px 400px;
    padding: 0px;
    border-radius: 8px;
    
}

.call-to-action .text {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 50px;
    color: white;
    
}

.cta-header {
    font-weight: 900;
    font-size: 18px;
}

.cta-btn {
    margin: 120px 200px 100px 0px;
}

.footer-btn {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px 24px;
}

.footer {
    justify-content: center;
    align-items: center;
}

